DATABASE_URL=
CACHE_URL=
PORT=
NODE_ENV=
HOSTNAME=
APP_NAME=
BOT_TOKEN=
CLIENT_ID=
# GUILD_ID=
GUILD_ID=
DISCORD_OAUTH_SECRET=
DISCORD_REDIRECT_URL=
DISCORD_OUATH2_URL=
SESSION_SECRET=
SESSION_NAME=
PAGINATION_COUNT=
TS_NODE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_LAMBDA_FUNCTION_NAME=
CACHE_URL=
CACHE_HOST=
CACHE_PASSWORD=
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
